html,body {
  height: 100%;
  margin: 0
}

div#header{
    background-color: #f7dfba;
    height: 15%;
    position: relative;
    margin-bottom: 0px;
    margin-right: 0px;
}

div#side{
    width: 35%;
    float: left;
    background-color: #eeeeee;
    text-align: center;

    display: flex;
    flex-flow: column;
    height: 80%;
    flex: 1 1 auto;
    margin-bottom: 0px;
}



div#glavniSadrzaj{
    background-color: #b8b8cc;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column;
    height: 80%;
    flex: 1 1 auto;
    margin-bottom: 0px;
}


div#footer{
    background-color: #f7dfba;
    clear: both;
    height: 5%;
    margin-bottom: 0px;
}

div#meni ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div#meni li {
    float: left;
}

div#meni li a {
    text-align: left;
    padding:5px;
}

div#side ul {
    list-style:none;
    margin-left: 10%;
    overflow:scroll;
    padding:0;
    text-indent:10px;
    border: 1px solid black;
    width: 75%;
    text-align: left;
    background-color: white;
}

div#side li {
    line-height:25px;
}

div#side li:hover{
    background-color: grey;
}

table {
    border-collapse: collapse;
    height: 50%;
    width: 50%;
}

table,th,td{
    text-align: center;
    border: 1px solid black;
}

img{
    max-width: 100%;
    max-height: 100%;
}

div#header img{
    width: 50px;
    height: 50px;
    position: fixed;
    margin: 0px;
    padding: 0px;
}

table tr:first-child{
    background-color:#cccccc;
}

table tr td             { width: 10em; }
table tr td:nth-child(2) { width: 20em; }

table a{
    text-decoration: none;
    color: black;
}

table a:hover{
    text-decoration: underline;
}

div#meni a{
    color: #4e473b;
}

@media (min-width: 0px) and (max-width:600px){
    div#glavniSadrzaj{
        width: 100%;
        margin-bottom: 0px;
    }

    div#side{
        width: 100%;
        margin-bottom: 0px;
    }

    div#footer{
        float: left;
        width: 100%;
    }

    div#meni{
        position: relative;
        clear: both;
        top: 30%;
    }

    div#header h1{
        position: absolute;
        bottom:0;
        float:left;        
        margin-bottom: 0;
        color: #4e473b;
    }
}

@media (min-width: 600px){
    div#glavniSadrzaj{
        width: 65%;
        float: right;
        margin-bottom: 0px;
    }

    div#side{
        width: 35%;
        float: left;
        margin-bottom: 0px;
    }

    div#header h1{
          position: absolute;
          margin-top: 0;
          margin-right: 0;
          right: 0;
          color: #4e473b;
    }

    div#meni{
        position: absolute;
        bottom: 0;
        clear: both;
        margin-bottom: 0px;
    }
}